body {
font-family: 'Rokkitt', serif;
}

div#intro {
  position:relative;
}

div#info {
  position:relative;
}

img#buttonlines {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

img#bird {
  position: absolute;
  top: 19%;
  left: 44%;
  width: 12%;
}

div#info_title {
  font-size: 8.5vw;
  color: #394B63;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

div#info_content {
  color: #6B797F;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  font-size: 5vw;
  line-height: 7.5vw;
  
}

div#green_register  {
  width: 27%;
  height: 30%;
  background: #6BA236;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 38%;
}

div#register_bird {
  position:relative;
}

div#register_today {
  color: white;
  font-size: 4vw;
  text-align: center;
  top: 30%;
  position: absolute;
  left: 5%;
}

div#fifteen_dollars {
  color: #6BA236;
  font-size: 12vw;
  position: absolute;
  top: 108%;
  left: 22%;
}

div#talk_tracks {
  position: relative;
}

div.track_name {
  color: #6BA236;
  font-size: 6vw;
  margin-top: 40px;
  font-weight: bold;
}

img.track_badge {
  width: 50%;
}

ul.track_examples {
  font-size: 5vw;
  list-style-type: none;
  color: #6C502A;
  padding: 0;
  line-height: 7vw;
}

h1.dash {
  background-repeat: repeat-x;
  background-image: url("./assets/dash-horizontal.png");
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5px;
  margin-top: 80px;
}

div#calendar {
  background-repeat: repeat-y;
  background-image: url("./assets/board.jpg");
  width: 100%;
  position: relative;
}

img#event_schedule {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 70px;
}

div#date {
  color: #EEC542;
  font-size: 14vw;
  padding-top: 100px;
}

div.address {
  color: white;
  font-size: 5vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
}

.circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border: 3px #D1582C solid;
  margin-left: auto;
  margin-right: auto; 
}

.event_time {
  color: white;
  font-size: 11vw;
  margin: 0;
  position: relative;
  top: 8px;
}

.am_pm {
  font-size: 5vw;
  color: white;
  margin-top: -5px;
}

.agenda_title {
  color: white;
  font-size: 8vw;
  margin: 0;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.agenda_info {
  color: white;
  font-size: 4.5vw;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 6vw;
  margin-bottom: 40px;
}

img#fire {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 60px;
}