body {
font-family: 'Rokkitt', serif;
}

div#intro {
  position:relative;
}

div#logo {
  background-color: #2C4947;
  margin: 0;
}

img#logo_img {
  width: 50%;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;  
}

div#hero {
  position: relative;
}

.absolute {
  position:absolute;
}

img#hero_logo {
  width: 45%;
  z-index: 2;
  top: 10%;
  left: 28%;
}

img#mountains {
  width: 200%;
  position: relative;
  left: -50%;    
}

img#lake {
  width: 200%;
  top: 0%;
  left: -50%;
}

img#trees {
  width: 200%;
  position: absolute;
  top: 0%;
  left: -50%;
  overflow: hidden;
}

img#date {
  top: 79%;
  width: 40%;
  left: 30%;
}
div#kaneko {
  color: #394B63;
  font-size: 8vw;
  top: 65%;
  left: 35%;
  z-index: 6;
}

div#omaha {
  color: #394B63;
  font-size: 6vw;
  top: 74%;
  left: 28%;
}

img#aiga_img {
  width: 75%;
}

div#aiga {
  margin: 0;
  background-color: #546564;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -5px;
  margin-bottom: 100px;
}

div#info {
  position:relative;
}

img#buttonlines {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

img#bird {
  position: absolute;
  top: 19%;
  left: 44%;
  width: 12%;
}

div.info_title {
  font-size: 8.5vw;
  color: #394B63;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

div#info_content {
  color: #6B797F;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  font-size: 5vw;
  line-height: 7.5vw;
  
}

div#green_register  {
  width: 27%;
  height: 30%;
  background: #6BA236;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 38%;
}

div#register_bird {
  position:relative;
}

div#register_today {
  color: white;
  font-size: 4vw;
  text-align: center;
  top: 30%;
  position: absolute;
  left: 5%;
}

div#fifteen_dollars {
  color: #6BA236;
  font-size: 12vw;
  position: absolute;
  top: 108%;
  left: 22%;
}

div#talk_tracks {
  position: relative;
}

div.track_name {
  color: #6BA236;
  font-size: 6vw;
  margin-top: 40px;
  font-weight: bold;
}

img.track_badge {
  width: 50%;
}

ul.track_examples {
  font-size: 5vw;
  list-style-type: none;
  color: #6C502A;
  padding: 0;
  line-height: 7vw;
}

h1.dash {
  background-repeat: repeat-x;
  background-image: url("./assets/dash-horizontal.png");
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5px;
  margin-top: 80px;
}

div#calendar {
  background-repeat: repeat-y;
  background-image: url("./assets/board.jpg");
  width: 100%;
  position: relative;
}

img#event_schedule {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 70px;
}

div.date {
  color: #EEC542;
  font-size: 14vw;
  padding-top: 100px;
}

div.address {
  color: white;
  font-size: 5vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
}

.circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border: 3px #D1582C solid;
  margin-left: auto;
  margin-right: auto; 
}

.event_time {
  color: white;
  font-size: 11vw;
  margin: 0;
  position: relative;
  top: 8px;
}

.am_pm {
  font-size: 5vw;
  color: white;
  margin-top: -5px;
}

.agenda_title {
  color: white;
  font-size: 8vw;
  margin: 0;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.agenda_info {
  color: white;
  font-size: 4.5vw;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 6vw;
  margin-bottom: 40px;
}

img#fire {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 60px;
}

div#faq {
  background: #CBECF9;
}

img#faq_img {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 50px;
}

.faq_item {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  letter-spacing: 2px;
}

.faq_bullet {
    padding-right: 5px;
    position: relative;
    top: 3px;
    width: 70%;
}

ul.faq_list {
  font-size: 4.5vw;
  text-align: left;
  padding-left: 12px;
  letter-spacing: 2.5px;
  font-weight: bold;
  list-style-type: none;
}

.faq_list li {
  background-image: url("./assets/plus.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  margin-top: 7vw;
  margin-bottom: 7vw;
  background-size: 6%;
  position: relative;
  padding-left: 8%;
  padding-top: 1%;
}

.faq_font {
  color: #8F5C31;
}

img#tower {
  width: 100%;
}